td.Rtitles{
    padding:10px;
    text-align: right;
    margin: 0px;
}

.enters{
    padding:13px;
    line-height: 30px;
}
.postnumb
{
    width: 95px;
}
select{
    height:20px;
}
div.Registerform{
   border-radius: 60px;
    background-color: rgb(250, 162, 0);
    border-color: rgb(255, 191, 14) ;
    border-style: double;
    border-width: 10px;
    position: absolute;
    margin: 70px 200px 200px 260px ;
    padding: 10px 20px 20px 20px ;
}
.address{
    width: 400px;
}