.managedServer{
    width: 1200px;
    margin: auto;
}
.managedServer .memberInfo{
    width: 380px;
    height: 350px;
    text-align: center;
    border-radius: 20px;
    background-color: #c4c3c37a;
    margin: 10px;
    padding: 10px;
    float: left;
}
.managedServer .memberInfo .memberInfoImg img{
    width: 150px;
    height: 150px;
    padding: 10px;
    transform: scale(1);
    transition: .8s;
}
.managedServer .memberInfo .memberInfoImg img:hover{
    transform: scale(1.2);
}
.managedServer .memberInfoContent{
    padding: 10px 10px 0px 10px;
    font-size: 20px;
}
.managedServer .hr{
    padding: 10px;
}
.managedServer .logout{
    padding: 0px 10px 10px 10px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
hr{
    position: relative;
    text-align: center;
    border: 1px #0080FF solid;
    background-color: #0080FF;
}
.logoutButton{
    color: #0080FF;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.logoutButton:hover{
    color: rgb(36, 85, 248);
    font-size: 25px;
}
.managedServer .inventory{
    width: 728px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    float: left;
}
.managedServer .record{
    clear: both;
    width: auto;
    height: 300px;
    margin: 20px;
    padding: 20px;
}
.accordion {
    background-color: #0080FF;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
  }
  .accordion {
    background-color: #0080FF;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;
  }
.active, .accordion:hover {
  background-color: white;
  color: black;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    border-radius: 10px;
    overflow: auto;
    transition: max-height 0.3s ease-out;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 16px;
    color: black;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
} 
table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0px;
    width: 100%;
}
.tdSet{
    height: 100px;
}
.inventoryImg{
    width: 200px;
    height: auto;
}

.subtraction{
    width: 30px;
    height: 30px;
}
.subtraction:hover{
    background-color: #0080FF;
}
.inventory .panel .subtractionBtn{
    border: none;
    cursor: pointer;
    background-color: white;
}
.inventory .panel table{
    width: 100%;
}



