.memberCenter{
    width: 1200px;
    margin: auto;
}
.memberInfo{
    width: auto;
    height: 350px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
.memberLeft{
    width: 30%;
    height: 350px;
    background-color: #c4c3c37a;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
    float: left;
}
.memberCenter .memberInfo .memberInfoImg img{
    width: 150px;
    height: 150px;
    padding: 10px;
    transform: scale(1);
    transition: .8s;
}
.memberCenter .memberInfo .memberInfoImg img:hover{
    transform: scale(1.2);
}
.memberCenter .memberInfoContent{
    padding: 10px 10px 0px 10px;
    font-size: 20px;
}
.memberCenter .hr{
    padding: 10px;
}
.memberCenter .logout{
    padding: 0px 10px 10px 10px;
}
hr{
    position: relative;
    text-align: center;
    border: 1px #0080FF solid;
    background-color: #0080FF;
}
.logoutButton{
    color: #0080FF;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.logoutButton:hover{
    color: black;
}
.memberRight{
    width: 66%;
    height: 350px;
    text-align: left;
    font-weight: bolder;
    background-color: #c4c3c37a;
    border-radius: 20px;
    float: left;
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 10px 0px;
}
.memberRight table{
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-left: 25px;
}
.memberRight table tr,
.memberRight table td{
    padding: 40px 15px 40px 15px;
    font-size: 20px;
}
.memberRight input{
    height: 30px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: -4px;
}
#name{
    width: 75%;
}
#nameModify{
    width: 75%;
}
#tel{
    width: 75%;
}
#telModify{
    width: 75%;
}
#addressModify{
    width: 75%;
}
#email{
    width: 75%;
}
#emailModify{
    width: 75%;
}
#password{
    width: 75%;
}
#passwordModify{
    width: 75%;
}
#btt1{
    background-color: #0080FF;
    color: white;
    cursor: pointer;
}
#btt2{
    background-color: #0080FF;
    color: white;
    cursor: pointer;
}
#btt5{
    background-color: #0080FF;
    color: white;
    cursor: pointer;
}
.record{
    width: auto;
    clear: both;
}
.recordBtn{
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: #0080FF;
    border: none;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 20px;
}
.recordBtn:hover{
    color: black;
    background-color: white;
}