.shoppingCart{
    width: 1200px;
    margin: auto;
    overflow: auto;
}
.shoppingCart h2{
    color: #0080FF;
}
.shoppingCart table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.shoppingCart table th,
.shoppingCart table td{
    padding: 10px;
    text-align: center;
}
.tdSet{
    width: 33%;
}
.quantity{
    width: 8%;
}
.sum{
    text-align: right;
    font-weight: bolder;
}
.address{
    width: 1200px;
    margin: auto;
    padding-top: 40px;
}
.address table{
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
.address table th,
.address table td{
    padding: 10px;
}
.addressCol{
    text-align: center;
    width: 35%;
    font-size: 20px;
    font-weight: bolder;
}
.postalCode{
    width: 25%;
}
.postalCodeCol{
    width: 15%;
}
.cityCol{
    width: 15%;
}
.city{
    width: 30%;
}
.checkoutCol{
    width: 30%;
}
.checkout{
    width: 130px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #0080FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.checkout:hover{
    color: black;
    background-color: white;
}
.detailedAddressCol{
    width: 35%;
}
.detailedAddress{
    width: 65%;
}
.buttonBlock{
    margin-top: 5%;
    text-align: center;
}
.btn{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #0080FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: white;
}