.shoppingCart{
    width: 1200px;
    margin: auto;
    overflow: auto;
}
.shoppingCart h2{
    color: #0080FF;
}
.shoppingCart table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.shoppingCart table th,
.shoppingCart table td{
    padding: 10px;
    text-align: center;
}
.tdSet{
    width: 33%;
}
.quantity{
    width: 8%;
}
.sum{
    text-align: right;
    font-weight: bolder;
}
.address table{
    width: 100%;
}
.addressTitle{
    font-size: 20px;
}
.addressCol{
    width: 30%;
    text-align: center;
}
.addressTextCol{
    width: 70%;
    text-align: center;
}
.addressText{
    width: 50%;
    height: 30px;
}
.address{
    width: 1200px;
    margin: auto;
    padding-top: 40px;
}
.addressCol{
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
}
.addressTextCol{
    width: 50%;
    text-align: left;
}
.buttonBlock{
    margin-top: 5%;
    text-align: center;
}
.btn{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 5%;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: #0080FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: white;
}